* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/img/star-wars-background.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  color: aliceblue;
}

#logo {
  width: 40%;
  height: 40%;
}

.form-check-input {
  background-color: #000000;
  border-color: #FCDF2B;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: rgb(0, 191, 255);
}

.footer a:hover {
  color: rgb(0, 130, 170);
}
